@use "./variables" as var;
@use "./mixin" as mxn;

body {
  background-color: var.$home-bc;
}
#home {
  padding-top: 180px;
  padding-bottom: 90px;
}
.home {
  @include mxn.d-flex;
  @media (max-width: 1120px) {
    @include mxn.columns($columns: 1, $gap: 50px);
    justify-items: center;
  }
  &__row__button {
    @media (max-width: 500px) {
      @include mxn.columns($columns: 1, $gap: 10px);
      text-align: center;
    }
  }

  &__row__button button:nth-child(1) {
    @include mxn.btn($bcg: var.$secondary_color, $borr: 250px, $width: 241px);
    @media (max-width: 500px) {
      font-weight: 400;
      padding: 5px 9px;
    }
  }
  &__row__button button:nth-child(2) {
    @include mxn.btn($bcg: var.$secondary_color, $borr: 250px, $width: 114px);
    @media (max-width: 500px) {
      font-weight: 400;
      padding: 5px 9px;
    }
  }

  &__row__button button:nth-child(3) {
    @include mxn.btn($bcg: var.$secondary_color, $borr: 250px, $width: 141px);
    @media (max-width: 500px) {
      font-weight: 400;
      padding: 5px 9px;
    }
  }

  &__row__right {
    h3,
    h2,
    p {
      color: var.$header-text;
      font-family: Manrope;
      font-size: 45px;
      font-weight: 800;
      line-height: 65px;
      @media (max-width: 500px) {
        font-size: 25px !important;
      }
    }
    h2 {
      font-size: 55px;
      font-weight: 400;
      line-height: 65px;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-top: 14px;
      margin-bottom: 29px;
    }
  }
  &__row__left {
    max-width: 573px;
    img {
      width: 100%;
    }
  }
}

// ---------middle ------------////

.middle {
  border-radius: 20px;
  background: var.$white;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  padding: 40px 0 56px 50px;

  &__row {
    @include mxn.columns(
      $columns: 4,
      $fr: auto,
      $justify: space-between,
      $gap: 0
    );
    @media (max-width: 1000px) {
      @include mxn.columns($columns: 2, $gap: 20px);
    }
    @media (max-width: 660px) {
      @include mxn.columns($columns: 1);
    }
  }

  h2 {
    color: var.$header-text;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 33px;
    @media (max-width: 400px) {
      font-size: 25px;
    }
  }
  &__row__card {
    border-right: 1px solid var.$border-color;
    border-bottom: none;
    padding-right: 63px;
    @media (max-width: 1000px) {
      border-right: none;
      border-bottom: 1px solid var.$border-color;
    }
    @media (max-width: 300px) {
      padding-right: 9px;
    }
    &__4 {
      border-right: none;
    }
    h4,
    p {
      max-width: 223px;
      color: var.$primary-color;
      font-size: 40px;
      font-weight: 800;
    }
    p {
      color: var.$header-text;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 3px;
    }
    h4 {
      @media (max-width: 400px) {
        font-size: 30px;
      }
    }
  }
}
#middle .middle__row__digit {
  color: var.$primary-color;
  font-size: 50px;
  font-weight: 900;
  line-height: 48px;
  span {
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
  }
}

// ------price --started-----

.price {
  padding-top: 96px;
  h2 {
    color: var.$header-text;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 41px;
    @media (max-width: 500px) {
      font-size: 25px;
    }
  }
  &__row {
    @include mxn.columns($columns: 5, $gap: 18px, $fr: 1fr);
    &__padding {
      padding-top: 30px;
    }
    @media (max-width: 1210px) {
      @include mxn.columns(
        $columns: 3,
        $justify: center,
        $fr: auto,
        $gap: 50px
      );
      justify-items: center;
    }
    @media (max-width: 800px) {
      @include mxn.columns(
        $columns: 2,
        $justify: center,
        $fr: auto,
        $gap: 30px
      );
    }
    @media (max-width: 510px) {
      @include mxn.columns(
        $columns: 1,
        $justify: center,
        $fr: auto,
        $gap: 30px
      );
    }
  }

  &__row__icon {
    display: flex;
    gap: 6px;
    p {
      color: var.$header-text;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__row__card {
    h3 {
      padding-top: 11px;
      max-width: 170px;
      color: var.$white;
      text-align: center;
      font-size: 18px;
      font-weight: 800;
      line-height: 26px;
      text-transform: uppercase;
      line-clamp: 2;
    }
    button {
      margin-top: 20px;
      @include mxn.btn($padding: 14px 52px);
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    h4 {
      margin-top: 105px;
      font-size: 30px;
      font-weight: 800;
      line-height: 24px;
      color: var.$primary-color;
      padding: 11px 30px 15px 0;
      border-top: 1px solid var.$border-top;
      span {
        color: var.$header-text;
        font-size: 16px;
        line-height: 24px;
        margin-right: 5px;
      }
    }
    &__top {
      background: linear-gradient(var.$secondary_color 20%, var.$white 20%);
      padding-left: 16px;
      padding-right: 4px;
      border-radius: 15px;
    }
    button {
      color: var.$white;
      font-size: 16px;
      font-weight: 600;
      line-height: 26px;
    }
  }
  &__six {
    padding: 25px;
  }
}

// --------consult ------
#consult {
  padding-top: 96px;
}

.consult {
  @include mxn.columns($columns: 2, $gap: 30px);
  @media (max-width: 1090px) {
    @include mxn.columns($columns: 1);
  }

  h4,
  p {
    max-width: 529px;
    color: var.$header-text;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    color: var.$header-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 22px 0;
    @media (max-width: 500px) {
      font-size: 10px;
      line-height: 1.2;
    }
  }
  h4 {
    @media (max-width: 500px) {
      font-size: 25px;
    }
  }
  &__right__button {
    max-width: 570px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    input::placeholder {
      color: var.$header-text;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      @media (max-width: 550px) {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }
  textarea,
  &__input {
    border-radius: 7px;
    background: var.$white;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  }
  &__input {
    width: 100%;
    padding: 16px;
    @media (max-width: 550px) {
      padding: 9px 0 12px 12px;
    }
  }
  .textarea {
    max-width: 570px;
  }
  textarea {
    max-width: 570px;
    width: 100%;
    height: 180px;
    resize: none;
    font-size: 16px;
    padding: 16px 0 0 16px;
    outline: none;
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    .checkbox {
      width: 20px;
      height: 20px;
    }
  }
  &__right__last {
    @include mxn.btn($padding: 14px 54px);
  }
  &__row__left {
    max-width: 570px;
    img {
      width: 100%;
    }
  }
}

// -----------consult___--contact endded==-----=-
#backtop {
  position: fixed;
  bottom: 40px;
  right: 0;
  font-size: 35px;
  backdrop-filter: blur(5px);
  border-radius: 4px;
  padding: 5px;
  opacity: 0;
  transition: 1s;
  @media (max-width: 700px) {
    font-size: 25px;
  }
}

#backtop.backtop-show {
  opacity: 1;
  right: 40px;
  z-index: 22;
}

.navbar-shrink {
  padding-bottom: 5px;
  transition: 1s;
  box-shadow: 0 0 5px black;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var.$loading;
  opacity: 1;
  transition: 1s;
  z-index: 82;
}
#loading.loading-none {
  z-index: -1;
  opacity: 0;
}

@keyframes ldio-zmwlyxd1et {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-zmwlyxd1et div {
  position: absolute;
  animation: ldio-zmwlyxd1et 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 8.4px 0 0 #1d3f72;
  transform-origin: 80px 84.2px;
}
.loadingio-spinner-eclipse-r0zj0c6dy9i {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-zmwlyxd1et {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zmwlyxd1et div {
  box-sizing: content-box;
}

//  ------about ------------

#about {
  padding-top: 112px;
  padding-bottom: 90px;
}
.about {
  h2 {
    color: var.$header-text;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 41px;
    @media (max-width: 500px) {
      font-size: 25px;
    }
  }
  h5,
  h4 {
    color: var.$header-text;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-transform: uppercase;
  }
  h5 {
    margin-top: 45px;
    margin-bottom: 10px;
  }
  &__google {
    max-width: 100px;
  }

  &__yandex {
    max-width: 150px;
  }

  &__row {
    background: linear-gradient(
      var.$white 0% 44%,
      var.$home-bc 44% 75%,
      var.$white 75%
    );
    padding: 8px 34px 25px 23px;
    max-width: 570px;
    border-radius: 15px;
    background-color: var.$white;
    z-index: 0;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
    @media (max-width: 1120px) {
      max-width: 1100px;
    }
    .alibobo {
      max-width: 150px;
    }
    .macy {
      max-width: 225px;
      padding-top: 33px;
      padding-bottom: 24px;
    }
    p {
      max-width: 508px;
    }
    &__desc {
      max-width: 185px;
    }
    &__desc:nth-child(2) {
      max-width: 94px;
    }
    &__image {
      max-width: 280px;
      @include mxn.d-flex($gap: 16px, $j-content: start);
    }
  }
  &__row__box {
    @include mxn.d-flex($gap: 34px);
    @media (max-width: 700px) {
      @include mxn.d-flex($gap: 15px);
    }
  }
  &__row__desc {
    max-width: 185px;
  }
}
.owl_theme {
  @include mxn.columns($columns: 2, $fr: auto, $gap: 34);
}

#owl-carousel .owl-next,
#owl-carousel .owl-prev {
  position: absolute;
  background-color: var.$border-color;
  width: 50px;
  height: 40px;
  padding-top: 40px;
  border-radius: 10px;
  top: 190px;
}

#owl-carousel .owl-next {
  right: 0;
}

#owl-carousel .owl-prev {
  left: 0;
}

#owl-carousel .owl-dot span {
  width: 40px;
  height: 8px;
  background-color: var.$border-color;
  border-radius: 4px;
  transition: 0.8s;
  @media (max-width: 700px) {
    width: 25px;
    height: 7px;
  }
}

#owl-carousel .owl-dot.active span {
  background-color: var.$header-text;
  width: 50px;
  @media (max-width: 700px) {
    width: 30px;
  }
}
//  foooter started--------- welcome to footer
footer {
  background: linear-gradient(var.$white 0% 90%, var.$black 90%);
}
.footer {
  &__row__card button {
    @include mxn.btn($padding: 14px 38px);
    margin-top: 22px;
    @media (max-width: 500px) {
      padding: 8px 20px;
    }
  }
  img {
    max-width: 325px;
    width: 100%;
  }
  &__row {
    padding-top: 53px;
    padding-bottom: 72px;
    @include mxn.columns($columns: 3, $gap: 0);
    @media (max-width: 670px) {
      @include mxn.columns($columns: 2, $gap: 50px, $j-items: center);
    }
    @media (max-width: 540px) {
      @include mxn.columns($columns: 1, $gap: 50px, $j-items: start);
      margin-left: 50px;
    }
    @media (max-width: 350px) {
      margin-left: 10px;
    }
    &__third {
      margin-right: 100px;
      @media (max-width: 900px) {
        margin-right: 0;
      }
    }
  }
  &__p {
    text-decoration: underline;
    color: var.$header-text;
  }
  a {
    color: var.$header-text;
  }
  ul h4 {
    color: var.$header-text;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
  &__end {
    text-align: center;
    color: var.$white;
    line-height: 36px;
  }

  li {
    line-height: 36px;
  }
}
