$primary-color:  rgb(179, 10, 112);//linear-gradient(115deg, #F32C6D 10.12%, #CB1D95 100.01%);
$secondary_color: #77B2D3;
$white: #fff;
$black: black;
$header-text: #333;
$home-bc: #F7F6FF;
$border-color:  #C7C7C7;
$border-top: #E2E2E2;

